<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gabe.zabi.fitme_demo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <provider
            android:authorities="gabe.zabi.fitme_demo"
            android:name=".data.MyProvider"/>

        <meta-data android:name= "com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".ui.splashActivity.SplashActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.mainActivity.MainActivity">

        </activity>

        <activity android:name=".ui.loginActivity.LoginActivity"/>

        <activity android:name=".ui.searchPlanActivity.SearchPlanActivity"
            android:parentActivityName=".ui.mainActivity.MainActivity" />

        <activity android:name=".ui.myReportActivity.MyReportActivity"
            android:parentActivityName=".ui.mainActivity.MainActivity"/>

        <activity android:name=".ui.mainActivity.ProfileSettingActivity"
            android:parentActivityName=".ui.mainActivity.MainActivity"/>

        <activity android:name=".ui.detailPlanActivity.DetailPlanActivity"
            android:parentActivityName=".ui.searchPlanActivity.SearchPlanActivity"/>

        <activity android:name=".data.AndroidDatabaseManager"
            android:theme="@style/Theme.AppCompat.Light"/>

    </application>
</manifest>